name: e2e-with-main

on:
  pull_request:
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - '*.config.*'
      - .github/workflows/e2e-with-main.yaml
  push:
    branches:
      - main
    paths:
      - src/**
      - tests/**
      - '*.json'
      - '*.yaml'
      - '*.config.*'
      - .github/workflows/e2e-with-main.yaml

jobs:
  test:
    strategy:
      matrix:
        shard-id: [1, 2]
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      actions: read
      contents: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: .node-version
          package-manager-cache: false
      - run: npm install -g pnpm@latest-10
      - run: pnpm i
      - run: pnpm build
      - name: Run int128/parallel-test-action
        id: parallel-test
        uses: ./
        with:
          test-files: 'tests/**/*.test.ts'
          test-report-branch: main
          test-report-artifact-name-prefix: test-report-
          shard-count: 2
      - run: cat "$SHARD_FILE"
        env:
          SHARD_FILE: ${{ steps.parallel-test.outputs.shards-directory }}/${{ matrix.shard-id }}
      - run: xargs pnpm run test < "$SHARD_FILE"
        env:
          SHARD_FILE: ${{ steps.parallel-test.outputs.shards-directory }}/${{ matrix.shard-id }}
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: test-report-${{ matrix.shard-id }}
          path: junit.xml
          if-no-files-found: error
